html {
    background-image: url(background.jpg);
}

/* Меню */
.header {
    background-color: rgb(4, 55, 4, 0.793);
    border: solid 3px rgb(192, 192, 192, 0.793);
}

.button button{
    background-color: rgb(4, 55, 4, 0.793);
    border: solid 3px rgb(192, 192, 192, 0.793);
}

/* Приветствие */
.hello {
    background-color: rgb(4, 55, 4);
    border: solid 3px rgb(192, 192, 192);
}

.person .founder {
    background-color: rgb(4, 55, 4, 0.793);
    border: solid 3px rgb(192, 192, 192, 0.793);
}

.person .founder img {
    border: solid 3px rgb(192, 192, 192, 0.793);
}

.person .dean {
    background-color: rgb(4, 55, 4, 0.793);
    border: solid 3px rgb(192, 192, 192, 0.793);
}

.person .dean img {
    border: solid 3px rgb(192, 192, 192, 0.793);
}

.news {
    background-color: rgb(4, 55, 4, 0.793);
    border: solid 3px rgb(192, 192, 192, 0.793);
}

.news .newsOne {
    background-color: rgb(4, 55, 4);
    border: solid 3px rgb(192, 192, 192, 0.793);
}

.news .newsOne img {
    border: solid 3px rgb(192, 192, 192, 0.793);
}